<div class="user-details">
    <h1> Blog </h1>
  </div>
  <div class="user-blog">
    <div class="images-left">
      <img alt="mountains" src="{{ "/assets/img/pvms.jpeg" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
      <h3> Six interesting professional behavior that can bring you success </h3>
      <ul>
        <li> Jul 15, 2021 · 3 min read</li>
      </ul>
      <p>We all want to be successful and have a distinct professional image. However, our final success will not be determined solely by our capacity to work, fulfill KPIs and performance...</p>
      <a class="blog-link" target="_blank" href="https://medium.com/@nayeemahamedador/six-interesting-professional-behavior-that-can-bring-you-success-d2de66c60179">Read more</a>
    </div>
</div>



