<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Email" href="mailto:nayeemahamedador@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="Medium" target="_blank" href="https://medium.com/@nayeemahamedador"><i class="icon fa fa-medium"></i></a>
        <a aria-label="LinkedIn" target="_blank" href="https://www.linkedin.com/in/nayeem-ahamed-csca%E2%84%A2-a96105147?fbclid=IwAR1cxdXQKR_KI8vDT2K_ipRSxXvWBgRpWdhlU8prtfwA3ioGulij7ccqmcE"><i class="icon fa fa-linkedin"></i></a>
        <a aria-label="500px" target="_blank" href="https://500px.com/p/nayeemahamedador"><i class="icon fa fa-500px"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Experience</a>
        <a class="link" href="#blog" data-scroll>Blog</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
