<div class="user-details">
  <h1> Professional Experience </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/reckitt.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> <a style="text-decoration:none" href="https://www.reckitt.com/about-us/reckitt-bangladesh/">Reckitt Bangladesh Ltd</a></h3>
    <ul>
      <li> Procurement Officer | Dec 2020 - Present</li>
    </ul>
    <p>I am currently employed as a PO, where I work directly with the global procurement team to handle  350 SKUs of RM-PM items and implement commodity plans, should cost models, Supply chain finance, commodity trend monitoring and internal-external benchmarking etc. Also working to initiate and implement innovative BCP,PPV and NPD-EPD projects with cooperation of R&D, packaging and legal team.</p>
    <!--<a class="project-link" href="#">Check it out</a>-->
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/FEL.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> <a style="text-decoration:none" href="https://fairelectronics.com.bd/">Fair Electronics Ltd</a></h3>
    <ul>
      <li> Executive-SCM | Nov 2019 - Dec 2020</li>
    </ul>
    <p>I had previously worked in the SCM as an Executive in charge of sourcing for the Complete-Knocked-Down (CKD) and Semi-Knocked-Down divisions. In addition, I kept track of payment difficulties and worked with the finance department to streamline the VAT, AIT, and Supplier Relationship Management processes (SRM). The $4 million SMT technology transfer project was my largest project for FEL-Samsung.</p>
    <!--<a class="project-link" href="#">Check it out</a>-->
  </div>
</div>
