<div class="user-details">
  <h1> Professional Experience </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/reckitt.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> <a style="text-decoration:none" href="https://www.reckitt.com/about-us/reckitt-bangladesh/">Reckitt Bangladesh Ltd</a></h3>
    <ul>
      <li> Procurement Officer | Dec 2020 - Present</li>
    </ul>
    <p>I am currently working as a PO closely with global Procurement team and implementing commodity plans, should cost models and Supply chain finance. Also wokring to initiate and implement innovative BCP and PPV projects with coorperation of R&D.</p>
    <!--<a class="project-link" href="#">Check it out</a>-->
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/FEL.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> <a style="text-decoration:none" href="https://fairelectronics.com.bd/">Fair Electronics Ltd</a></h3>
    <ul>
      <li> Executive-SCM | Nov 2019 - Dec 2020</li>
    </ul>
    <p>I had worked as an Excecutive in the SCM to manage sourcing for Complete-Knocked-Down (CKD), Semi-Knocked-Down divisions. Also monitored the payment issuses and collaborated with the finance departement to perform Supplier Relationship Management (SRM). </p>
    <!--<a class="project-link" href="#">Check it out</a>-->
  </div>
</div>
